
body {
    font-family: 'Roboto', sans-serif ;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: auto;
}

.header , .sec1 , .sec2 , .sec3 , .sec4 , .footer {
    display: flex;
    justify-content: center;
}

.container {
    flex: 0 1 1000px;
    margin: 60px;
}

.header {
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 16px;
}
.header ul {
    margin-left: 300px;
}
.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

/* SECTION1 */
.sec1 {
    background-color: #1F2937;
    color: #E5E7EB;
}
.sec1 .container {
    display: flex;
    gap: 30px;
}
.sec1-img { 
    background-color: gray;
    height: 200px;
    width: 280px;
}
.sec1 button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 5px;
}

/* Blue Boxes Informations */
.sec2 .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.sec2 h1 {
    text-align: center;
}
.sec2 .item { 
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 10px;
}
.sec2 .box {
    border: 2px solid blue;
    border-radius: 5px;
    height: 120px;
    width: 120px;
}

/* QUOTE */
.sec3 {
    background-color: #E5E7EB;
    color: #1F2937;
}
.sec3 .quote {
    font-family: 'Roboto Light', sans-serif ;
    font-size: 36px;
    font-style: italic;
}
.sec3 .author {
    text-align: end;
    font-size: 16px;
    font-weight: bold;
}

/* CALL TO ACTION */
.sec4 .container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    padding: 40px;
    border-radius: 5px;
}
.sec4-right {
    margin-left: 80px;
}
.sec4 button {
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px 18px;
    font-weight: bold;
    font-size: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}


.footer {
    background-color: #1F2937;
    color: white;
    height: 60px;
    align-items: center;
}

