* {
    border: 1px solid red;
  }


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.header {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: #1F2937;
    color: white;
    width: auto;
    padding: 16px;
}
.header ul {
    margin-left: auto;
}

.header h2 {
    font-size: small;

}

.sec1  , .sec3 , .sec4 {
    display: flex;

}
.sec1 {
    background-color: #1F2937;
    color: white;
}
.sec1-img { 
    background-color: gray;
    height: 200px;
    width: 280px;
}
.sec1 button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 20%;
}

.sec2 .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.sec2 h1 {
    text-align: center;
}

.box {
    border: 2px solid blue;
    border-radius: 10%;
    height: 80px;
    width: 90px;
}

.sec3 {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
}


.sec4 {
    background-color: #3882F6;
    color: white;
}
.sec4 button {
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px 18px;
    font-weight: bold;
    font-size: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    text-decoration: none;
    color: rgb(175, 175, 175);
  }


.footer {
    background-color: #1F2937;
    color: white;
}